
<h2>My Heroes</h2>

<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <!-- click is an example of event binding syntax -->
        <button [class.selected]="hero === selectedHero" type="button" (click)="onSelect(hero)">
            <span class="badge">{{hero.id}}</span> 
            <span class="name">{{hero.name}}</span>
        </button> 
    </li>
</ul>

<!-- binds using hero-detail.component.ts selector (app-hero-detail) -->
<!-- [hero]= "selectedHero" is an angular property bind, one way data binding from the selectedHero
    property of the HeroesComponent, to the hero property of the target element-> this in turn maps 
    to the hero property of HeroDetailComponent-->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>

